header {
    grid-column: span 2;
    text-align: center;
    background-color: hsla(8, 77%, 46%, 0.749);
    color: white;
}

nav {
    grid-column: span 2;
    background-color: #252121;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 20;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li {
    display: inline;
}

main {
    background-color: hsl(161, 59%, 49%);
    height: 1000px;
}

aside {
    background-color: #2a0909;
    color: aliceblue;
}

footer {
    grid-column: span 2;
    text-align: center;
    background-color: #26072c;
    color: white;
}

