header {
    grid-column: span 2;
    text-align: center;
    background-color: hsla(82, 68%, 38%, 0.749);
    color: white;
}

nav {
    grid-column: span 2;
    background-color: #252121;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

main {
    background-color: #0d0606;
    height: 1000px;
}

aside {
    background-color: #2a0909;
    color: aliceblue;
}

footer {
    grid-column: span 2;
    text-align: center;
    background-color: #222;
    color: white;
}

