header {
    grid-column: span 2;
    text-align: center;
    background-color: #d01b30bf;
    color: white;
}

nav {
    grid-column: span 2;
    background-color: #1d0202;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 35;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 30px
}

nav ul li {
    display: inline;
}

main {
    background-color: white(161, 59%, 49%);
    height: 800px;
    justify-content: center;
}

aside {
    background-color: hsl(64, 62%, 48%);
    color: aliceblue;
}

footer {
    grid-column: span 2;
    text-align: center;
    background-color: #26072c;
    color: white;
}

