
@media screen and (max-width: 800px) {

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .project-grid {
        grid-template-columns: 1fr; 
        gap: 1rem;
    }

    .project-item h3 {
        font-size: 1.2rem;
    }

    .project-item p {
        font-size: 0.9rem;
    }

    .projects-main {
        padding: 1rem;
    }

    footer {
        padding: 0.5rem;
    }
}
