
@media screen and (min-width: 800px) {
    header h1 {
        font-size: 3rem;
    }

    nav ul li {
        display: inline-block;
        margin-right: 25px;
    }

    main {
        width: 70%;
        margin: 0 auto;
    }

    main h3 {
        font-size: 2rem;
    }

    aside {
        width: 25%;
        float: right;
        margin-top: 2rem;
        padding: 1rem;
        background-color: #fff;
    }

    footer {
        position: static;
        padding: 1rem;
    }
}
